body{
    background-color: #93b5c6;
    
}

body .ui-panelgrid .ui-panelgrid-cell{
    background-color: #93b5c6 ;
}
body .ui-panel .ui-panel-content{
    border: 0px;
    background-color: #C9DAE3;
    
}

.layout-content .card {
    padding: 1rem;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 4px;
    margin-bottom: 2rem;
}




/*
.caracteristicas-grid .caracteristicas-grid-item-content{
   
    border: 1px solid;
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    
}

.caracteristicas-grid .caracteristica-imagen {
    width: 128px;
    height: 128px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}*/